@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anek Malayalam";
  src: url("/fonts/AnekMalayalam-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Add a fallback font */
body {
  font-family: "Anek Malayalam", sans-serif;
}